<ion-header>
  <ion-navbar color="primary">
    <!-- <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> -->
    <ion-title>Charakterystyka gabinetu</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form novalidate [formGroup]="stepForm" (ngSubmit)="next()">
    <ion-list>
      <ion-item>
        <ion-label>Gabinet jest częścią sieci gabinetów</ion-label>
        <ion-toggle formControlName="isOfficeNetwork"></ion-toggle>
      </ion-item>
      <ion-item *ngIf="stepForm.get('isOfficeNetwork').value">
        <ion-label floating>Liczba placówek w ramach sieci</ion-label>
        <ion-input type="number" formControlName="networkOfficesCount"></ion-input>
      </ion-item>

      <!-- LICZBA FOTELI -->
      <ion-item>
        <ion-label floating>Liczba stanowisk/foteli w gabinecie *</ion-label>
        <ion-input type="number" formControlName="chairsCount"></ion-input>
      </ion-item>
      <span ion-text *ngIf="stepForm.get('chairsCount').dirty && stepForm.get('chairsCount').invalid" color="danger" padding-left>
        <span *ngIf="stepForm.get('chairsCount').errors.required">
          To pole jest wymagane
        </span>
        <span *ngIf="stepForm.get('chairsCount').errors.min">
          Wymagane minimum 1 stanowisko
        </span>
      </span>

      <!-- LICZBA LEKARZY -->
      <ion-item>
        <ion-label floating>Liczba lekarzy pracujących gabinecie *</ion-label>
        <ion-input type="number" formControlName="doctorsCount"></ion-input>
      </ion-item>
      <span ion-text *ngIf="stepForm.get('doctorsCount').dirty && stepForm.get('doctorsCount').invalid" color="danger" padding-left>
        <span *ngIf="stepForm.get('doctorsCount').errors.required">
          To pole jest wymagane
        </span>
        <span *ngIf="stepForm.get('doctorsCount').errors.min">
          Wymagany minimum 1 lekarz
        </span>
      </span>

      <ion-item>
        <ion-label>Czy w gabinecie są higienistki/higieniści</ion-label>
        <ion-toggle formControlName="hasOfficeHigienists"></ion-toggle>
      </ion-item>
      <ion-item *ngIf="stepForm.get('hasOfficeHigienists').value">
        <ion-label floating>Liczba higienistek/higienistów</ion-label>
        <ion-input type="number" formControlName="higienistsCount"></ion-input>
      </ion-item>
    </ion-list>

    <ion-list radio-group formControlName="isBuyingSonicare">
      <ion-list-header>
        Czy kupują produkty Sonicare?
      </ion-list-header>

      <ion-item>
        <ion-label>Nie</ion-label>
        <ion-radio value="no"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Tak, na własny użytek</ion-label>
        <ion-radio value="yes"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Tak, do odsprzedaży pacjentowi</ion-label>
        <ion-radio value="yes_sell"></ion-radio>
      </ion-item>
    </ion-list>

    <ion-row>
      <ion-col text-center>
        <button ion-button type="submit" [disabled]="!stepForm.valid">Dalej</button>
        <button ion-button type="button" color="light" (click)="back()">Wstecz</button>
        <button ion-button type="button" color="light" (click)="cancel()">Anuluj</button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>