<ion-header>
  <ion-navbar color="primary">
    <!-- <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> -->
    <ion-title>Charakterystyka gabinetu</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form novalidate [formGroup]="stepForm" #formDir="ngForm" (ngSubmit)="next()">
    <ion-list>
      <ion-item-group>
        <ion-item>
          <ion-label>Gabinet jest częścią sieci gabinetów</ion-label>
          <ion-toggle focusToggleChange formControlName="isOfficeNetwork"></ion-toggle>
        </ion-item>

        <!-- LICZBA PLACÓWEK -->
        <div [slide-down]="stepForm.get('isOfficeNetwork').value === true">
          <ion-item>
            <ion-label floating>Liczba placówek w ramach sieci</ion-label>
            <ion-input type="number" formControlName="networkOfficesCount"></ion-input>
          </ion-item>
          <span ion-text *ngIf="(stepForm.get('networkOfficesCount').dirty || formDir.submitted) && stepForm.get('networkOfficesCount').invalid"
            color="danger" padding-left>
            <span *ngIf="stepForm.get('networkOfficesCount').errors.required">
              To pole jest wymagane
            </span>
            <span *ngIf="stepForm.get('networkOfficesCount').errors.min">
              Wymagany minimum 1 gabinet
            </span>
          </span>
        </div>

        <!-- LICZBA FOTELI -->
        <ion-item>
          <ion-label floating>Liczba stanowisk/foteli w gabinecie *</ion-label>
          <ion-input type="number" formControlName="chairsCount"></ion-input>
        </ion-item>
        <span ion-text *ngIf="(stepForm.get('chairsCount').dirty || formDir.submitted) && stepForm.get('chairsCount').invalid" color="danger" padding-left>
          <span *ngIf="stepForm.get('chairsCount').errors.required">
            To pole jest wymagane
          </span>
          <span *ngIf="stepForm.get('chairsCount').errors.min">
            Wymagane minimum 1 stanowisko
          </span>
        </span>

        <!-- LICZBA LEKARZY -->
        <ion-item>
          <ion-label floating>Liczba lekarzy pracujących gabinecie *</ion-label>
          <ion-input type="number" formControlName="doctorsCount"></ion-input>
        </ion-item>
        <span ion-text *ngIf="(stepForm.get('doctorsCount').dirty || formDir.submitted) && stepForm.get('doctorsCount').invalid" color="danger" padding-left>
          <span *ngIf="stepForm.get('doctorsCount').errors.required">
            To pole jest wymagane
          </span>
          <span *ngIf="stepForm.get('doctorsCount').errors.min">
            Wymagany minimum 1 lekarz
          </span>
        </span>

        <ion-item>
          <ion-label>Czy w gabinecie są higienistki/higieniści</ion-label>
          <ion-toggle focusToggleChange formControlName="hasOfficeHigienists"></ion-toggle>
        </ion-item>

        <!-- LICZBA HIGIENISTEK -->
        <div [slide-down]="stepForm.get('hasOfficeHigienists').value === true">
          <ion-item>
            <ion-label floating>Liczba higienistek/higienistów</ion-label>
            <ion-input type="number" formControlName="higienistsCount"></ion-input>
          </ion-item>
          <span ion-text *ngIf="(stepForm.get('higienistsCount').dirty || formDir.submitted) && stepForm.get('higienistsCount').invalid"
            color="danger" padding-left>
            <span *ngIf="stepForm.get('higienistsCount').errors.required">
              To pole jest wymagane
            </span>
            <span *ngIf="stepForm.get('higienistsCount').errors.min">
              Wymagana/y minimum 1 higienistka/higienista
            </span>
          </span>
        </div>
        <ion-item class="full-line no-height"></ion-item>
      </ion-item-group>

      <span radio-group formControlName="isBuyingSonicare">
        <!-- <ion-list-header>
          Czy kupują produkty Sonicare?
        </ion-list-header> -->
        <ion-item-group>
          <ion-item-divider color="light">Czy kupują produkty Sonicare?</ion-item-divider>
          <ion-item>
            <ion-label>Nie</ion-label>
            <ion-radio value="no"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Tak, na własny użytek</ion-label>
            <ion-radio value="yes_own"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Tak, do odsprzedaży pacjentowi</ion-label>
            <ion-radio value="yes_sell"></ion-radio>
          </ion-item>
        </ion-item-group>
      </span>
    </ion-list>

    <ion-row>
      <ion-col text-center>
        <!-- <button ion-button type="submit" [disabled]="!stepForm.valid">Dalej</button> -->
        <button ion-button type="submit">Dalej</button>
        <button ion-button type="button" color="light" (click)="back()">Wstecz</button>
        <button ion-button type="button" color="light" (click)="cancel()">Anuluj</button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>