# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.idea/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/
hooks/
platforms/
plugins/
plugins/android.json
plugins/ios.json
www/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
which.cmd
which
webpack.cmd
webpack
uuid.cmd
uuid
uglifyjs.cmd
uglifyjs
tsserver.cmd
tsserver
tslint.cmd
tslint
tsickle.cmd
tsickle
tsc.cmd
tsc
strip-indent.cmd
strip-indent
sshpk-verify.cmd
sshpk-verify
sshpk-sign.cmd
sshpk-sign
sshpk-conv.cmd
sshpk-conv
sha.js.cmd
sha.js
semver.cmd
semver
sassgraph.cmd
sassgraph
rollup.cmd
rollup
rimraf.cmd
rimraf
purify.cmd
purify
not-in-publish.cmd
not-in-publish
not-in-install.cmd
not-in-install
nopt.cmd
nopt
node-sass.cmd
node-sass
node-gyp.cmd
node-gyp
ngc.cmd
ngc
ng-xi18n.cmd
ng-xi18n
mkdirp.cmd
mkdirp
mime.cmd
mime
miller-rabin.cmd
miller-rabin
json5.cmd
json5
js-yaml.cmd
js-yaml
ionic.cmd
ionic-app-scripts.cmd
ionic-app-scripts
ionic
in-publish.cmd
in-publish
in-install.cmd
in-install
har-validator.cmd
har-validator
esvalidate.cmd
esvalidate
esparse.cmd
esparse
errno.cmd
errno
cordova-browser.cmd
cordova-browser
build-optimizer.cmd
build-optimizer
browserslist.cmd
browserslist
autoprefixer-info.cmd
autoprefixer-info
atob.cmd
atob
acorn.cmd
acorn
