<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Gabinety</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-down"
      pullingText="Przeciągnij w dół aby odświeżyć"
      refreshingSpinner="crescent"
      refreshingText="Ładowanie...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-searchbar
    placeholder="Szukaj"
    [(ngModel)]="filter"
    (ionInput)="populateOffices()"
    debounce="1000">
  </ion-searchbar>

  <ion-list>
    <ion-item-sliding *ngFor="let office of offices$ | async">
      <button ion-item (click)="details(office)"  [disabled]="office.isRemoved">
        {{office.name}}
        <ion-note item-end *ngIf="office.needSync && !office.isRemoved">
          <ion-icon name="alert" color="danger"></ion-icon>
        </ion-note>
        <ion-note item-end *ngIf="office.isRemoved">
          <ion-icon name="remove-circle" color="danger"></ion-icon>
        </ion-note>
      </button>
      <ion-item-options side="right">
        <button ion-button color="light" (click)="details(office)" *ngIf="!office.isRemoved">Podgląd</button>
        <button ion-button color="light" (click)="edit(office)" *ngIf="!office.isRemoved">Edytuj</button>
        <button ion-button color="danger" (click)="remove(office)">Usuń</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab right bottom>
    <button  (click)="edit()" ion-fab color="secondary">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
