<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="person?.name">Uczestnik {{person?.name}}</ion-title>
    <ion-title *ngIf="!person?.name">Nowy Uczestnik</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form novalidate [formGroup]="personForm" (ngSubmit)="save()">
    <person-edit-form [personData]="person"></person-edit-form>
    <ion-row>
      <ion-col text-center>
        <button ion-button type="submit" [disabled]="!personForm.valid">Zapisz</button>
        <button ion-button type="button" color="light"(click)="cancel()">Anuluj</button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>