<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Uczestnicy</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-down"
      pullingText="Przeciągnij w dół aby odświeżyć"
      refreshingSpinner="crescent"
      refreshingText="Ładowanie...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-searchbar
    placeholder="Szukaj"
    [(ngModel)]="filter"
    (ionInput)="populatePeople()"
    debounce="1000">
  </ion-searchbar>

  <ion-list>
    <ion-item-sliding *ngFor="let person of people$ | async" #slidingItem>
      <button ion-item (click)="details(person)" [disabled]="person.isRemoved">
        {{ person.name }}
        <ion-note item-end *ngIf="person.needSync && !person.isRemoved">
          <ion-icon name="alert" color="danger"></ion-icon>
        </ion-note>
        <ion-note item-end *ngIf="person.needSync && person.isRemoved">
          <ion-icon name="remove-circle" color="danger"></ion-icon>
        </ion-note>
      </button>
      <ion-item-options side="right">
        <button ion-button color="light" (click)="details(person)" *ngIf="!person.isRemoved">Podgląd</button>
        <button ion-button color="light" (click)="accept(person)" *ngIf="!person.isRemoved">Podsumowanie</button>
        <button ion-button color="light" (click)="edit(person)" *ngIf="!person.isRemoved">Edytuj</button>
        <button ion-button color="danger" (click)="remove(person, slidingItem)">Usuń</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab right bottom>
    <button (click)="edit()" ion-fab color="secondary">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
