<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="office?.name">Gabinet {{office?.name}}</ion-title>
    <ion-title *ngIf="!office?.name">Nowy Gabinet</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form novalidate [formGroup]="officeForm" (ngSubmit)="save()">
    <office-edit-form [officeData]="office" (onFormInit)="patchForm($event)"></office-edit-form>
    <ion-row>
      <ion-col text-center>
        <button ion-button type="submit" [disabled]="!officeForm.valid">Zapisz</button>
        <button ion-button type="button" color="light" (click)="cancel()">Anuluj</button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>