page-office-info-popover {
    ion-content {
        padding: 5px;
    }

    h1 {
        margin-top: 0rem;
        font-size: 2rem;
    }

    .info-text {
        margin-top: 14px;
        margin-bottom: 0rem;
    }
}
