<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="event?.office?.name">Wizyta {{event?.office?.name}}, {{ event.date | date: 'dd.MM.yyyy' }}</ion-title>
    <ion-title *ngIf="!event?.office?.name">Brak gabinetu</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form novalidate [formGroup]="eventForm" (ngSubmit)="save()">
    <ion-list>
      <ion-item>
        Data wizyty
        <ion-note item-end>
          {{ event.date | date: 'dd.MM.yyyy' }}
        </ion-note>
      </ion-item>
      <ion-item>
        Zdjęcie z zewnątrz
        <ion-note item-end text-center>
          <img src="assets/imgs/placeholder-image.jpg" class="photo">
          <button ion-button>Zrób zdjęcie</button>
        </ion-note>
      </ion-item>
      <ion-item>
        Zdjęcie poczekalni
        <ion-note item-end text-center>
          <img src="assets/imgs/placeholder-image.jpg" class="photo">
          <button ion-button>Zrób zdjęcie</button>
        </ion-note>
      </ion-item>
      <ion-item>
        <ion-label>Brak możliwości wykonania zdjęcia w poczekalni</ion-label>
        <ion-toggle formControlName="noPhotoInsideWaiting"></ion-toggle>
      </ion-item>
      <ion-item *ngIf="eventForm.get('noPhotoInsideWaiting').value">
        <ion-label floating>Wpisz powód niewykonania zdjęcia w poczekalni</ion-label>
        <ion-input formControlName="noPhotoInsideWaitingWhy"></ion-input>
      </ion-item>
      <ion-item>
        Zdjęcie gabinetu
        <ion-note item-end text-center>
          <img src="assets/imgs/placeholder-image.jpg" class="photo">
          <button ion-button>Zrób zdjęcie</button>
        </ion-note>
      </ion-item>
      <ion-item>
        <ion-label>Brak możliwości wykonania zdjęcia w gabinecie</ion-label>
        <ion-toggle formControlName="photoInsideOffice"></ion-toggle>
      </ion-item>
      <ion-item *ngIf="eventForm.get('photoInsideOffice').value">
        <ion-label floating>Wpisz powód niewykonania zdjęcia w gabinecie</ion-label>
        <ion-input formControlName="noPhotoInsideOfficeWhy"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Gabinet jest częścią sieci gabinetów</ion-label>
        <ion-toggle formControlName="isOfficeNetwork"></ion-toggle>
      </ion-item>
      <ion-item *ngIf="eventForm.get('isOfficeNetwork').value">
        <ion-label floating>Liczba placówek w ramach sieci</ion-label>
        <ion-input type="number" formControlName="networkOfficesCount" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Liczba stanowisk/foteli w gabinecie</ion-label>
        <ion-input type="number" formControlName="chairsCount"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Liczba lekarzy pracujących gabinecie</ion-label>
        <ion-input type="number" formControlName="doctorsCount"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Czy w gabinecie są higienistki/higieniści</ion-label>
        <ion-toggle formControlName="hasOfficeHigienists"></ion-toggle>
      </ion-item>
      <ion-item *ngIf="eventForm.get('hasOfficeHigienists').value">
        <ion-label floating>Liczba higienistek/higienistów</ion-label>
        <ion-input type="number" formControlName="higienistsCount"></ion-input>
      </ion-item>

      <ion-item-group radio-group formControlName="isBuyingSonicare">
        <ion-item-divider color="light">Czy kupują produkty Sonicare?</ion-item-divider>

        <ion-item>
          <ion-label>Nie</ion-label>
          <ion-radio value="no"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Tak, na własny użytek</ion-label>
          <ion-radio value="yes"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Tak, do odsprzedaży pacjentowi</ion-label>
          <ion-radio value="yes_sell"></ion-radio>
        </ion-item>
      </ion-item-group>

      <ion-item-group radio-group formControlName="doQualify">
        <ion-item-divider color="light">Czy kupują produkty Sonicare?</ion-item-divider>

        <ion-item>
          <ion-label>Brak osób kwalifikujących się do Programu</ion-label>
          <ion-radio value="no"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Brak zainteresowania, odmowa udziału</ion-label>
          <ion-radio value="no_deny"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Rejestruję Uczestnika/Uczestniczkę programu dla Higienistek/Higienistów</ion-label>
          <ion-radio value="yes"></ion-radio>
        </ion-item>
      </ion-item-group>

      <ion-item-group *ngIf="eventRelations.office as office">
        <ion-item-divider color="light">Gabinet</ion-item-divider>
        <ion-item-sliding>
          <button ion-item type="button" (click)="detailsOffice(office)">
            {{ office.name }}
          </button>
          <ion-item-options side="right">
            <button ion-button type="button" color="light" (click)="detailsOffice(office)">Podgląd</button>
            <button ion-button type="button" color="light" (click)="editOffice(office)">Edytuj</button>
            <button ion-button type="button" color="danger" (click)="removeOffice(office)">Usuń z wizyty</button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-item-group>
      <ion-item-group *ngIf="!eventRelations.office">
        <ion-item-divider color="light">Wybierz istniejący gabinet</ion-item-divider>
        <ion-item>
          <ion-label>Wybierz gabinet</ion-label>
          <ion-select (ionChange)="selectOffice($event)">
            <ion-option [value]="office.localId" *ngFor="let office of offices">
              {{office.name}}
            </ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <button ion-button type="button" (click)="addOffice()">
            Dodaj nowy gabinet
          </button>
        </ion-item>
      </ion-item-group>

      <ion-item-group>
        <ion-item-divider color="light">Uczestnicy</ion-item-divider>
        <ion-item-sliding *ngFor="let person of eventRelations.people">
          <button ion-item type="button" (click)="detailsPerson(person)">
            {{person.name}}
          </button>
          <ion-item-options side="right">
            <button ion-button type="button" color="light" (click)="detailsPerson(person)">Podgląd</button>
            <button ion-button type="button" color="light" (click)="acceptPerson(person)">Podsumowanie</button>
            <button ion-button type="button" color="light" (click)="editPerson(person)">Edytuj</button>
            <button ion-button type="button" color="danger" (click)="removePerson(person)">Usuń z wizyty</button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-item-group>
      <ion-item>
        <ion-label>Wybierz uczestnika</ion-label>
        <ion-select #peopleSelect (ionChange)="selectPerson($event, peopleSelect)">
          <ion-option [value]="person.localId" *ngFor="let person of people">
            {{person.name}}
          </ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <button ion-button type="button" (click)="addPerson()">
          Dodaj nowego uczestnika
        </button>
      </ion-item>
    </ion-list>

    <ion-row>
      <ion-col text-center>
        <button ion-button type="submit" [disabled]="!eventForm.valid">Zapisz</button>
        <button ion-button type="button" color="light" (click)="cancel()">Anuluj</button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>