<ion-header>
  <ion-navbar color="primary">
    <!-- <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> -->
    <ion-title>Wybór gabinetu</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item-group>
    <ion-item-divider color="light">Wskaż gabinet który odwiedzasz</ion-item-divider>
    <ion-item>
      <ion-label floating>Miejscowość</ion-label>
      <ion-select (ionChange)="selectCity($event)" [disabled]="isNewOffice" #citySelect>
        <ion-option [value]="city" *ngFor="let city of cities">
          {{ city }}
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label floating>Nazwa</ion-label>
      <ion-select (ionChange)="selectOffice($event)" [disabled]="isNewOffice" #officeSelect>
        <ion-option [value]="office.localId" *ngFor="let office of filteredOffices">
          {{office.name}}
        </ion-option>
      </ion-select>
    </ion-item>
  </ion-item-group>

  <!-- <ion-row>
    <ion-col text-center>
      <button ion-button (click)="save()">Dalej</button>
    </ion-col>
  </ion-row> -->

  <form novalidate [formGroup]="stepForm" (ngSubmit)="next()">
    <ion-item-group>
      <ion-item-divider color="light">lub dodaj nowy gabinet</ion-item-divider>
    </ion-item-group>
    <ion-item *ngIf="!isNewOffice">
      <button ion-button type="button" color="primary" (click)="addNewOffice(officeSelect)">Dodaj nowy gabinet</button>
    </ion-item>
    <office-edit-form [hidden]="!isNewOffice" [officeData]="office" (onFormInit)="patchForm($event)"></office-edit-form>

    <ion-row>
      <ion-col text-center>
        <button ion-button type="submit" [disabled]="!stepForm.valid">Dalej</button>
        <button ion-button type="button" color="light" (click)="cancel()">Anuluj</button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>